/* Global */
:root{
  /* Color */
  --color-white:#ffffff;
  --color-black:#000000;
  --color-dark-grey:#5E5E5D;
  --color-grey:#D3D3D3;
  --color-light-grey:#F0F0F0;
  --color-white-grey:#FAFAFA;
  --color-medium-grey:#BBBBBB;
  --color-large-grey:#A0A0A0;
  --color-yellow:#FFFF6C;
  --color-illuminating:#F8D948;
  --color-classic-blue:#0F4C81;


  /* Font size */
  --font-large:48px;
  --font-medium:24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight  */
  --weight-bold:700px;
  --weight-medium:500px;
  --weight-light:300px;

  /* Size */
  --size-border-radius:4px;
}

  /* Universal Tags */
*{
  box-sizing: border-box;

  /* Animation duration*/
  --animation-duration: 300ms;
}


body{
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: default;
}

a{
  text-decoration: none;
  color: var(--color-black);
}

ul{
  list-style: none;
  padding-left: none;
}

li{
  list-style: none;
}

button{
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1{
  font-size: var(--font-large);
  font-weight: var(--wight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2{
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin: 8px 0;
}

h3{
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  color: var(--color-black);
  margin: 8px 0;
}

p{
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  color: var(--color-black);
  margin: 8px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: var(--color-grey);
  align-items: center;
  padding: 8px;
  background-color: transparent;
  transition: all var(--animation-duration);
  z-index: 1;
}


#navbar.navbar--bright{
  background-color: var(--color-white-grey);
  padding: 8px;
}

.navbar__menu{
  display: flex;
}

.navbar__logo{
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
}

.navbar__menu__item{
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}



.navbar__menu__item:hover{
  background-color: var(--color-light-grey);

}

.navbar__toggle-btn{
  position: absolute;
  top: 12px;
  right: 32px;
  font-size: 24px;
  color: var(--color-black);
  display: none;
}

/* Home */
#home{
  background: url('images/la\ youtak_back.jpg') center/cover no-repeat;
  padding:120px 40px 20px;
  text-align:  center;
}

.home__avatar{
  width:250px;
  height:250px;
  border-radius: 50%;
  border: 2px solid var(--color-white)
}

.home__title,
.home__description{
  color: var(--color-white);
}

.home__contact{
  color:var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section{
  padding:50px;
  text-align: center;
  margin:auto;
}

.section__container{
  max-width: 1200px;
  margin:auto;
}

.section__container2{
  max-width: 1500px;
  margin:auto;
}

/* About */
#about{
  padding: 80px 0;
}

.about__majors{
  display: flex;
  justify-content: space-between;
  margin:80px 0;
}

.major__icon{
  width: 170px;
  height: 170px;
  line-height:  170px;
  font-size: 65px;
  background-color: var(--color-white);
  margin:auto;
  color: var(--color-black);
  border: 1px solid var(--color-grey);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i{
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i{
  color:var(--color-dark-grey);
  transform: scale(1.1);
}

.major__title, .majot__description{
  color:var(--color-dark-grey)
}

.majot__description{
  font-size: var(--font-small);
}

.school{
  display:flex;
  justify-content: center;
  align-items: center;
}

.school__name{
  font-size: var(--font-medium);
  margin: 0 16px;
}

/* Skill */

#skills{
  background-color: var(--color-light-grey);
  padding: 80px 0;
}

.skillset{
  display: flex;
  background-color: var(--color-grey);
  color: white;
  margin:20px 0;
}

.skillset__title{
  color:white;
}

.skill{
  margin-bottom: 24px;
}

.skillset__left{
  flex-basis: 60%;
  background-color: var(--color-large-grey);
  padding: 20px 40px;
}

.skillset__right{
  flex-basis: 45%;
}

.skill__bar{
  width: 100%;
  height: 3px;
  background-color: white;
}

.skill__value{
  width: 100%;
  height: 3px;
  background-color: var(--color-classic-blue);
}

.skill__description{
  display: flex;
  justify-content: space-between;
}

.tools{
  background-color: var(--color-medium-grey);
}

.tools, .etc{
  padding:20px
}

.tools_list, .etc__list{
  padding: 0;
}

/* Travel */
#travel{
padding: 80px 0;
}

.travel__categories{
  margin:40px;
}

.category__btn{
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--size-border-radius);
  font-size: var(--font-medium);
  padding:8px 48px;
}

.category__btn.active,
.category__btn:hover{
  background-color: var(--color-light-grey);
}

.category__btn.active .category__count,
.category__btn:hover .category__count{
  opacity: 1;
  top:0;
}


.category__count{
  background-color: var(--color-illuminating);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease;
  }

  .travel__projects{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .project{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    margin: 2px;
    color: white;
    background-color: white;
  }

  .project_img{
    max-width: 100%;
    max-height: 100%;
  }

  .project__description{
    position: absolute;
    background-color: black;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    top:0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
  }

  .project__description h3{
    color: white;
  }

  .project:hover .project__description{
    opacity: 0.7;
    transform: translateY(0px);
  }

  .project__description h3:after {
    content:'';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-top: 8px;
    margin-left: -12px;
    background-color: black;
  }


/* Testimonial */
#testimonials{
  background-color: var(--color-light-grey);
  padding: 80px 0;
}

.testimonials{
  margin: 40px;
}

.testimonial{
  display: flex;
  margin: 32px 0;
  justify-content: center;
}

.testimonial__avatar{
  margin: 12px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd){
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even){
  margin-left: 40px;
}

.testimonial__speech-bubble{
  padding: 18px;
  background-color: white;
  border-radius: var(--size-border-radius);
}

/* Contact */

#contact{
  background-color: var(--color-black);
}



.contact_title, 
.contact_email, 
.contact_links,
.contact_right{
  color: var(--color-white);
}

.fa-github{
  color:var(--color-white);
}

.contact_links{
  font-size: var(--font-large);
  margin: 24px
}

.contact_links i:hover{
  transform: scale(1.1);
}

/* Scroll */
.arrow-up{
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: var(--color-large-grey);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible{
  opacity: 1;
  pointer-events: auto;
}


@media screen and (max-width: 768px){
.navbar__toggle-btn{
  display: block;
  }
  #navbar{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu{
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors{
    flex-direction: column;
  }

  .major{
    margin-bottom: 30px;
  }

  .skillset{
    flex-direction: column;
  }

  .school{
    flex-direction: column;
  }

.project{
  flex-grow: 0.8;
}

.testimonial__avatar{
  width: 80px;
  height: 80px;
}
}

/* media query 안에는 최소한의 정보만 들어가는 것이 좋다 */