/* Global */
:root{
  /* Color */
  --color-white:#ffffff;
  --color-black:#000000;
  --color-dark-grey:#5E5E5D;
  --color-grey:#D3D3D3;
  --color-light-grey:#F0F0F0;
  --color-yellow:#FFFF6C;
  --color-illuminating:#F8D948;
  --color-classic-blue:#0F4C81;


  /* Font size */
  --font-large:48px;
  --font-medium:24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight  */
  --weight-bold:700px;
  --weight-medium:500px;
  --weight-light:300px;

  /* Size */
  --size-border-radius:4px;
}

  /* Universal Tags */
*{
  box-sizing: border-box;

  /* Animation duration*/
  --animation-duration: 300ms;
}


body{
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: default;
}

a{
  text-decoration: none;
  color: var(--color-black);
}

ul{
  list-style: none;
  padding-left: none;
}

li{
  list-style: none;
}

button{
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1{
  font-size: var(--font-large);
  font-weight: var(--wight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2{
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin: 8px 0;
}

h3{
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  color: var(--color-black);
  margin: 8px 0;
}

p{
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  color: var(--color-black);
  margin: 8px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background: var(--color-grey);
  align-items: center;
  padding: 8px;
}

.navbar__menu{
  display: flex;
}

.navbar__logo{
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
}

.navbar__menu__item{
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active{
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover{
  background-color: var(--color-light-grey);

}

/* Home */
#home{
  background: url('images/la\ youtak_back.jpg') center/cover no-repeat;
  padding:40px 40px 20px;
  text-align:  center;
}

.home__avatar{
  width:250px;
  height:250px;
  border-radius: 50%;
  border: 2px solid var(--color-white)
}

.home__title,
.home__description{
  color: var(--color-white);
}

.home__contact{
  color:var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section{
  padding:50px;
  text-align: center;
  margin:auto;
}

.section__container{
  max-width: 1200px;
  margin:auto;
}

/* About */
.about__majors{
  display: flex;
  justify-content: space-between;
  margin:80px 0;
}

.major__icon{
  width: 170px;
  height: 170px;
  line-height:  170px;
  font-size: 65px;
  background-color: var(--color-white);
  margin:auto;
  color: var(--color-black);
  border: 1px solid var(--color-grey);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i{
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i{
  color:var(--color-dark-grey);
  transform: scale(1.1);
}

.major__title, .majot__description{
  color:var(--color-dark-grey)
}

.majot__description{
  font-size: var(--font-small);
}

.school{
  display:flex;
  position: relative;
  left: 30%;
  align-items: center;
}

.school__name{
  font-size: var(--font-medium);
  margin: 0 16px;
}

/* Skill */

#skills{
  background-color: var(--color-illuminating);
}

.skillset{
  display: flex;
  background-color: var(--color-classic-blue);
  color: white;
  margin:20px 0;
}

.skillset__title{
  color:white;
}

.skill{
  margin-bottom: 16px;
}

.skillset__left{
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skillset__right{
  flex-basis: 40%;
}

.skill__bar{
  width: 100%;
  height: 3px;
  background-color: white;
}

.skill__value{
  width: 100%;
  height: 3px;
  background-color: var(--color-classic-blue);
}

.skill__description{
  display: flex;
  justify-content: space-between;
}

.tools{
  background-color: var(--color-grey);
}

.tools, .etc{
  padding:20px
}