/* Global */
:root{
  /* Color */
  --color-white:#ffffff;
  --color-black:#000000;
  --color-dark-grey:#5E5E5D;
  --color-grey:#D3D3D3;
  --color-yellow:#FFFF6C;
  --color-illuminating:#F8D948;
  --color-classic-blue:#0F4C81;


  /* Font size */
  --font-large:48px;
  --font-medium:24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight  */
  --wight-bold:700px;
  --weight-medium:500px;
  --weight-light:300px;

  /* Size */
}

/* Universal Tags */
*{
  box-sizing: border-box;
}

/* Typography */
h1{
  font-size: var(--font-large);
  font-weight: var(--wight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2{
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin: 8px 0;
}

h3{
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  color: var(--color-black);
  margin: 8px 0;
}

p{
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  color: var(--color-black);
  margin: 8px 0;
}