/* Global */
:root{
  /* Color */
  --color-white:#ffffff;
  --color-black:#000000;
  --color-dark-grey:#5E5E5D;
  --color-grey:#D3D3D3;
  --color-light-grey:#F0F0F0;
  --color-yellow:#FFFF6C;
  --color-illuminating:#F8D948;
  --color-classic-blue:#0F4C81;


  /* Font size */
  --font-large:48px;
  --font-medium:24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight  */
  --wight-bold:700px;
  --weight-medium:500px;
  --weight-light:300px;

  /* Size */
  --size-border-radius:4px;
}

/* Universal Tags */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: default;
}

a{
  text-decoration: none;
  color: var(--color-white);
}

ul{
  list-style: none;
  padding-left: none;
}

li{
  list-style: none;
}

button{
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1{
  font-size: var(--font-large);
  font-weight: var(--wight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2{
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin: 8px 0;
}

h3{
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  color: var(--color-black);
  margin: 8px 0;
}

p{
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  color: var(--color-black);
  margin: 8px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background: var(--color-grey);
  align-items: center;
  padding: 8px
}

.navbar__menu{
  display: flex;
}

.navbar__logo{
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
}

.navbar__menu__item{
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active{
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover{
  background-color: var(--color-light-grey);

}

/* Home */
#home{
  background: url('images/la\ youtak_back.jpg') center/cover no-repeat;
  padding:40px 40px 20px;
  text-align:  center;
}

.home__avatar{
  width:250px;
  height:250px;
  border-radius: 50%;
  border: 2px solid var(--color-white)
}

.home__title,
.home__description{
  color: var(--color-white);
}

.home__contact{
  color:var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}